In [2]:
import pandas as pd

In [3]:
# create a series with this

pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])

In [15]:
# Name the variable that holds the series fruits.

fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])

In [5]:
# Run .describe() on the series to see what describe returns for a series of strings.

fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [6]:
# Run the code necessary to produce only the unique fruit names.

fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [8]:
# Determine how many times each value occurs in the series.

fruits.value_counts()

kiwi                4
mango               2
tomato              1
gala apple          1
papaya              1
blackberry          1
gooseberry          1
blueberry           1
pineapple           1
strawberry          1
honeycrisp apple    1
honeydew            1
watermelon          1
dtype: int64

In [16]:
# Determine the most frequently occurring fruit name from the series.

fruits.value_counts().nlargest(1, keep = 'all')

kiwi    4
dtype: int64

In [17]:
# Determine the least frequently occurring fruit name from the series.

fruits.value_counts().nsmallest(1, keep = 'all')

tomato              1
gala apple          1
papaya              1
blackberry          1
gooseberry          1
blueberry           1
pineapple           1
strawberry          1
honeycrisp apple    1
honeydew            1
watermelon          1
dtype: int64

In [23]:
# Write the code to get the longest string from the fruits series.

fruits[fruits.str.len() == fruits.str.len().max()]

5    honeycrisp apple
dtype: object

In [24]:
# Find the fruit(s) with 5 or more letters in the name.

fruits[fruits.str.len() >= 5]

1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [25]:
# Capitalize all the fruit strings in the series.

fruits.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

In [26]:
# Count the letter "a" in all the fruits (use string vectorization)

fruits.str.count('a')

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

In [30]:
# Output the number of vowels in each and every fruit.

fruits.str.count('[aeiou]')

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

In [33]:
# Use the .apply method and a lambda function to find the fruit(s) containing two or more "o" letters in the name.

fruits.apply(lambda n: n if n.count('o') >= 2 else 'less than 2 o\'s')

0     less than 2 o's
1     less than 2 o's
2     less than 2 o's
3     less than 2 o's
4     less than 2 o's
5     less than 2 o's
6              tomato
7     less than 2 o's
8     less than 2 o's
9     less than 2 o's
10    less than 2 o's
11    less than 2 o's
12    less than 2 o's
13    less than 2 o's
14    less than 2 o's
15         gooseberry
16    less than 2 o's
dtype: object

In [36]:
# Write the code to get only the fruits containing "berry" in the name

fruits[fruits.str.count('berry') >= 1]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

In [37]:
# Write the code to get only the fruits containing "apple" in the name

fruits[fruits.str.count('apple') >= 1]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

In [40]:
# Which fruit has the highest amount of vowels?

fruits[fruits.str.count('[aeiou]') == fruits.str.count('[aeiou]').max()]

5    honeycrisp apple
dtype: object

In [43]:
# use pandas to create a series of the following

money = pd.Series(['$796,459.41', '$278.60', '$482,571.67', '$4,503,915.98', '$2,121,418.3', '$1,260,813.3', '$87,231.01', '$1,509,175.45', '$4,138,548.00', '$2,848,913.80', '$594,715.39', '$4,789,988.17', '$4,513,644.5', '$3,191,059.97', '$1,758,712.24', '$4,338,283.54', '$4,738,303.38', '$2,791,759.67', '$769,681.94', '$452,650.23'])

In [44]:
What is the data type of the series?

type(money)

Object `series` not found.

pandas.core.series.Series

In [51]:
# Use series operations to convert the series to a numeric data type.

new_money = money.str.replace('$', '').str.replace(',', '').astype(float)

In [54]:
# What is the maximum value? The minimum?

moneyMax = new_money.max()

moneyMin = new_money.min()

print(f'{moneyMax} is the maximum value in the series. {moneyMin} is the minimum value in the series.')

4789988.17 is the maximum value in the series. 278.6 is the minimum value in the series.

In [56]:
# create a series using the grades below

grades = pd.Series([60, 86, 75, 62, 93, 71, 60, 83, 95, 78, 65, 72, 69, 81, 96, 80, 85, 92, 82, 78])

In [60]:
# What is the minimum exam score? The max, mean, median?

grades.min(), grades.max(), grades.mean(), grades.median()

(60, 96, 78.15, 79.0)

In [64]:
# Convert each of the numbers above into a letter grade. For example, 86 should be a 'B' and 95 should be an 'A'.

def grader(x):
    if x >= 90:
        return 'A'
    if x >= 80:
        return 'B'
    if x >= 70:
        return 'C'
    if x >= 60:
        return 'D'
    else:
        return 'F'
    
grades.apply(lambda x: grader(x))

0     D
1     B
2     C
3     D
4     A
5     C
6     D
7     B
8     A
9     C
10    D
11    C
12    D
13    B
14    A
15    B
16    B
17    A
18    B
19    C
dtype: object

In [71]:
# Write the code necessary to implement a curve. I.e. that grade closest to 100 should be converted to a 100, 
# and that many points should be given to every other score as well.

curved = grades + (100 - grades.max())

curved

0      64
1      90
2      79
3      66
4      97
5      75
6      64
7      87
8      99
9      82
10     69
11     76
12     73
13     85
14    100
15     84
16     89
17     96
18     86
19     82
dtype: int64

In [87]:
# create a series using the letters below

letters = pd.Series('hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy'.replace('', ' ').strip().split(' '))

letters

0      h
1      n
2      v
3      i
4      d
      ..
195    r
196    o
197    g
198    u
199    y
Length: 200, dtype: object

In [91]:
# What is the most frequently occuring letter? 

letters.value_counts().nlargest(1, keep = 'all')

y    13
dtype: int64

In [92]:
# Least frequently occuring?

letters.value_counts().nsmallest(1, keep = 'all')

l    4
dtype: int64

In [95]:
# How many vowels are in the list?

sum(letters.str.count('[aeiou]'))

34

In [96]:
# How many consonants are in the list?

sum(letters.str.count('[^aeiou]'))

166

In [97]:
# Create a series that has all of the same letters, but uppercased

letters.str.upper()

0      H
1      N
2      V
3      I
4      D
      ..
195    R
196    O
197    G
198    U
199    Y
Length: 200, dtype: object